[Unit]
Description=Spring Boot Social Media App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/springapp
EnvironmentFile=/etc/springapp/springapp.env
ExecStart=/usr/bin/java -jar /opt/springapp/app.jar --spring.profiles.active=test
StandardOutput=append:/var/log/springapp.log
StandardError=append:/var/log/springapp.log
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target