spring:
  application:
    name: social_media
  thymeleaf: # Thymeleaf
    cache: false
  datasource: # Database
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update

# Server
server:
  port: 8080

logging:
  file:
    path: logs/prod