name: Build and push artifact into S3 and EC2 server

on:
 push:
   branches:
     - main

env:
  BUCKET_NAME : "sm_jar_bucket"
  AWS_REGION : "us-east-1"

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v1
        with:
          java-version: 17
      - run: sudo apt update && sudo apt install -y maven

  test:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - run: mvn test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - run: mvn clean package -DskipTests
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

  upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Built JAR
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::620267421546:role/Github-IAM-Role
          role-session-name: samplerolesession
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload JAR to S3
        run: |
          JAR_FILE=$(ls *.jar)
          aws s3 cp target/app.jar s3://${{ env.BUCKET_NAME }}/app-$(date +%Y%m%d%H%M).jar
          aws s3 cp target/app.jar s3://${{ env.BUCKET_NAME }}/app-latest.jar
