name: Build and push artifact into EC2 server

on:
 push:
   branches:
     - main

jobs:
 build_and_test:
   runs-on: ubuntu-latest

   steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: Set up JDK 17
       uses: actions/setup-java@v1
       with:
         java-version: 17
         distribution: 'temurin'
         architecture: 'x64'

     - name: Install Maven
       run : sudo apt update && sudo apt install -y maven

     - name: Run the test with Maven
       run: mvn test

     - name: Build with Maven
       run: mvn clean package -DskipTests